.body{

}
.upper-row{
    height: 20vh;
    width: 90vw;
    margin: 2vh 2.5vh;
    display: grid;
    grid-template: 100% / repeat(2,1fr);
    column-gap: 2vw;
}
.upper-row .child{
    background-color: yellow;
}
.middle-row{
    height: 30vh;
    width: 90vw;
    margin: 2vh 2.5vh;
    background-color: rgb(231, 74, 7);
}
.lower-row{
    height: 30vh;
    width: 90vw;
    margin:2vh 2.5vh;
    display: grid;
    grid-template: 100%/repeat(3,1fr);
    column-gap: 2vw;
}
.lower-row .child{
    background-color: blueviolet;
}
@media  screen and (max-width:768px) {
    .upper-row{
        column-gap: 2.5vmax;
    }
    .lower-row{
        display: grid;
        grid-template: repeat(2,1fr)/100%;
        row-gap: 2.5vmax;

    }
}

@media  screen and (max-width:320px) {
    .upper-row{
        display: grid;
        grid-template: repeat(2,1fr)/100%;
        row-gap: 2.5vmax;
    }
}